<h4> A user has sent a message from the page of a specific guide. </h4> <br>
<p> Msg Content: <%= @content %> </p>
<p> Email of sender (for responding): <%= @reply_address %> </p> <br>
<p> Guide from whose profile this message was sent: </p>
<p> <%= @advisor.first_name %> <%= @advisor.second_name %> </p>
