<p> Your request for the listing "<%= @requested_title %>" on Guidelighter.com has been delivered successfully. </p>
<p> You can expect a reply as soon as we've gotten in touch with your guide. </p>
<p> Best regards, <br> Team Guidelighter </p>
