<p> Your request for the guide "<%= @advisor.first_name %> <%= @advisor.second_name %>" on Guidelighter.com has been delivered successfully. </p>
<p> You can expect a reply as soon as we've coordinated with your guide. </p>
<p> Best regards, <br> Team Guidelighter </p>
