<h4> Welcome! </h4>
<p> You have successfully signed up for Guidelighter. </p>
<p> We will get in touch with you once your listing(s) receive interest. We hope you are going to enjoy being a guide :). </p>
<p> All the best, </p>
<p> Team Guidelighter </p>
