
<div class="simple_container">
  <br> <br> <br>
  <div style="color: grey; margin-bottom: 5px;"> <%= notice %> </div>
  <div class="grey_box">  
    <h3>Done.</h3>
    <p> Your request has been sent. We will email you with a specific suggestion once we have coordinated with your guide. If you like, you can watch funny Youtube videos now. You've earned it: </p>
    <div class="button">
      <a href="https://www.youtube.com/watch?v=BtG33gP-j6E" style="background-color: orange;">Funny Cats.</a>
    </div>
  </div> 
</div>