<div class="gl_header">
  <div class="links">
    <%= link_to "Contact Us", root_path, class: "btn btn-small btn-turquoise" %>
  </div>
</div>

<div class="simple_container">
  <!-- signup loader -->
  <div class="signup_loader">
    <%= image_tag "page-loader.gif" %>
    <p> We are processing your request. <br> One second. </p>
  </div> 
  <!-- setting background color -->
  <div class="color_background"> </div>
  <!-- content -->
  <br> <br> <br>
  <div style="color: grey; margin-bottom: 5px;"> <%= notice %> </div>
  <div class="grey_box">  
    <h3>Done!</h3>
    <p> 
      We will get back to you once we have coordinate with your guide.If you like, you can watch funny youtube videos now. You've earned it ;) 
    </p>
    <div class="button">
      <a href="https://www.youtube.com/watch?v=BtG33gP-j6E" style="background-color: orange;">Funny Cats on Youtube.</a>
    </div>
  </div> 
  <!-- love -->
  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona
  </div>
</div>

<!-- js -->
<script type="text/javascript">
  // fadeOut signup_loader
  $(window).load(function() {
    $(".signup_loader").delay(3850).fadeOut("slow");
  })
</script>