
<h2> Offer your personal advice, guidance and expertise to those who need it. </h2>

<p> Click below to become a guide at Guideligher. </p>

<div class="button">
  <%= link_to "Start", signup_path %>
</div> <br>

<h3> How it works </h3>
<ol>
  <li> create simple listings stating what you offer </li>
  <li> wait until your offer gets booked </li>
  <li> help out, get paid & be happy </li> 
</ol> <br>


<h3> Listings </h3>
<!-- listings -->
<% @listings.each do |listing| %>
  <%= listing.title %> <br>
  <%= listing.description %> <br>
  <%= listing.price %> <br> <br> <br>
<% end %>