<div class="gl_header">
  <div class="links">
    <%= link_to "Contact Us", contact_path, class: "btn white_border" %>
    <%= link_to "EXPLORE LISTINGS", search_path(category: "career_insights"), class: "btn white_border" %>
  </div>
</div>

<div class="simple_container">
  <!-- signup loader -->
  <div class="signup_loader">
    <%= image_tag "page-loader.gif" %>
    <p> We are processing your request. <br> One second. </p>
  </div> 
  <!-- setting background color -->
  <div class="color_background"> </div>
  <!-- content -->
  <br> <br> <br>
  <div style="color: grey; margin-bottom: 5px;"> <%= notice %> </div>
  <div class="grey_box">  
    <br>
    <p> 
      Thank you very much for becoming a guide. We will get in touch once your guidance is being requested. If you like, you can watch funny Youtube videos now. You have earned it.
    </p>
    <div class="button">
      <a href="https://www.youtube.com/watch?v=BtG33gP-j6E" id="std-btn"> Funny Cats on Youtube </a>
    </div>
  </div> 
  <!-- love -->
  <div class="with_love">
    Made with <i class="fa fa-heart" aria-hidden="true"></i> in Barcelona
  </div>
</div>

<!-- js -->
<script type="text/javascript">
  // fadeOut signup_loader
  $(window).load(function() {
    $(".signup_loader").delay(3850).fadeOut("slow");
  })
</script>