<div class="gl_header"> 
</div>

<div class="simple_container">  

  <h2>Admin Area.</h2> <br>
  <% ["advisors", "profiles", "listings"].each do |type| %>
    <%= link_to "#{type.capitalize} Mgmt." , "#{type}_mgmt" %> <br> <br>
  <% end %>

</div>
