<div class="gl_header"> </div>

<div class="simple_container">  
  <h2>Admin Area.</h2> <br>
  <% @all_profiles.each do |pro| %>
    <% if pro.advisor %>
      <h4> Profile of: <%= pro.advisor.first_name %> <%= pro.advisor.first_name %> </h4>
    <% end %> 
    <p> <%= pro.description %> </p> <br> <br>
  <% end %>
</div>
