<div class="gl_header"> 
  <div class="links">
    <%= link_to "Admin", admin_general_path %>
  </div>
</div>

<div class="simple_container">
  <p> <%= notice %> </p>
  <h2> Tagging Management </h2> <br>
  <!-- listings -->
  <% @all_listings.each do |listing| %>
    <p> <b> <%= listing.title %> </b> </p>
    <p style=""> <%= listing.description %> </p> <br> <br> <br> <br> <br> <br>
  <% end %>
</div>


<script type="text/javascript">
  function showDescription(){
    documentFindElementById("")
  }
</script>